@media only screen and (max-width: 768px) {
    .decoration {
        font-size: xx-large;
    }

    .btn-decoration {
        font-size: x-large;
    }
}

@media only screen and (orientation: portrait) {
    main {
        background-color: black;
    }
    .decoration {
        font-size: xx-large;
        color: white;
        background-color: rgba(128, 128, 128, 0.397);
    }

    .btn-decoration {
        font-size: x-large;
    }
}